<h1  class="text-4xl font-bold">Top#index</h1>
<p class="italic">Find me in app/views/top/index.html.erb</p>

<div id="root"></div>

<div data-react-component='App' data-props='{"message": "test"}'></div>
